<br>
<%= link_to 'Add_book',new_book_path,class:"btn btn-primary"%><br>
<table class="table">

     <tr>
        <th>Book_Name</th>
        <th>Author</th>
        <th>Title</th>
     
        <th colspan=5>Action</th>
     </tr>
    
       <% @books.each do |book|%>
    <tr>
       <td> <%= book.book_name%></td>
       <td> <%= book.author_name%></td>
       <td> <%= book.title%></td>
       <td> <%= link_to 'EditBook',edit_book_path(book),class:"btn btn-primary"%></td>
       <td> <%= link_to 'destroy',book,method: :delete,class:"btn btn-primary"%></td>
       <tr>
          <td><%= image_tag(book.avatar ,width:"20%")if book.avatar.attached?%></td>
       </tr>
      
    </tr>
   
    
     <%end%>
   
</table><br><br><br><br>

<%= will_paginate @books %>