<%= link_to 'Issued Books',bookissues_index_path,class:"btn btn-primary"%><br>
<table class="table">
     <tr>
        <th>Book_Name</th>
        <th>Author</th>
        <th>Title</th>
        <th colspan=2>Action</th>
     </tr>
    
       <% @books.each do |book|%>
    <tr>
       <td> <%= book.book_name%></td>
       <td> <%= book.author_name%></td>
       <td> <%= book.title%></td>
       <td><%= link_to 'add to cart',book_issue_path(book.id), method: :get,class:"btn btn-primary" %></td>
    </tr>
     <%end%>
</table><br><br><br>